header{
    background-color: rgb(196, 174, 209);
    padding: 20px 0;
}
.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
#logoPrincipal{
    
    display: inline-block;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;

    
}
nav li{
    display: inline;
    text-align: left;
    margin: 0 0 0 15px;
    
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(194, 111, 44);
}
#banner{
    width: 100%;
}

.principal{
    background-color: beige;
    padding: 20px;
}

.titulo-centro{
    text-align: center;
}

p{
    text-align: center;
}

 strong em{
    color: rgb(187, 51, 51);
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background-color: antiquewhite;
    padding: 30px;
}

.items{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-style: italic;
}

.imagendiferenciales{
    width: 30%;
}

footer{
    padding: 30px;
    text-align: center;
    background: url(IMAGES/bg.jpg);
}

.Copyright{
    color: white;
    text-align: center;
    margin: 5px;
    font-size: 12px;

}